<%- include('includes/header.html') %>
    <section class="articles-list">
        <% for (let i = 0; i < 11; i++) { %>
            <article class="article">
                <div class="article-pic">
                    <img src="./assets/img/Newspaper.png" alt="Default pic">
                </div>
                <div class="article-content>
                    <div class="article-title">Titular</div>
                    <div class="article-text">Texto</div>
                </div>
            </article>
        <% } %>
    </section>
<%- include('includes/footer.html') %>