body {
  background: url(../assets/img/hip-square.png);
}

#nombre {
  margin: 2px;
  padding: 2px;
  width: 750px;
  }

#email {
  margin: 2px;
  padding: 2px;
  width: 750px;
}

#comment {
  margin: 2px;
  padding: 2px;
  width: 750px;
}



// .web-header {
//   display: flex;
//   height: 70px;
//   flex-wrap: wrap;
//   align-content: space-around;
// }
